{% extends "cpanel/auth-forms/base.html" %}

{% block body_class %}login example2{% endblock %}

{% block main_div_class %}main-login col-sm-4 col-sm-offset-4{% endblock %}

{% block box_div_class %}box-login{% endblock %}

{% block form_title %}Password Change{% endblock %}

{% block form_subtitle %}Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.{% endblock %}

{% block form_tag %}class="form-login" name="{{ form.form_name }}" method="post" action="{% url 'password_change' %}" novalidate{% endblock %}

{% block form_submission %}
    <button type="submit" class="btn btn-bricky pull-right" ng-disabled="{{ form.form_name }}.$invalid">
        Submit <i class="fa fa-arrow-circle-right"></i>
    </button>
{% endblock %}
    