{% extends "email/base.html" %}
{% load stripe_tags %}

{% block body %}
<div class="row">
    <p>Hello {{ user }},</p>
    <p><strong>Your account has been temporarily disabled.</strong></p>
    <p>We tried to auto-recharge your account, but auto-recharge is disabled.  Please activate auto-recharge, or <a href="{% url 'payment:one_time_payment' %}"> make a one-time payment to add funds</a>.</p>
    <p>In order to recharge your account, please go to your payment preferences using the link, and turn <em>auto-recharge</em> on.</p>
    <p><a href="{% url 'acct_cost_update' hotel.acct_cost.pk %}">{{ SITE_URL }}{% url 'acct_cost_update' hotel.acct_cost.pk %}</a></p>
</div>
{% endblock body %}