{% extends "cpanel/base-sidebar.html" %}
{% load staticfiles stripe_tags %}


{% block content %}

                <div class="row">
                    <div class="col-md-12">
                        <div class="btn btn-default btn-xs pull-right">
                            <a class="btn dropdown-toggle no_decoration" data-toggle="dropdown" href="#">{{ acct_stmt }} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {% for as in acct_stmts %}
                                    <li><a href="{% url 'acct_stmt_detail' as.year as.month %}">{{ as.month_abbr }}</a></li>
                                    {% endfor %}
                                </ul>
                            </a>
                        </div>
                    </div>
                </div>

<h4>Montly transaction details</h4>

    <h5>Initial Balance</h5>
    <p>{{ init_balance|stripe_money }}</p>

    <h5>Credit</h5>
    <ul>
    {% for trans in monthly_trans.credit %}
        <li>{{ trans }}</li>
    {% empty %}
        <li>No Credit Transactions</li>
    {% endfor %}
    </ul>
    <p>Credit Total: {{ monthly_trans.credit.balance|stripe_money }}</p>

    <h5>Debit</h5>
    <ul>
    {% for trans in monthly_trans.debit %}
        <li>{{ trans }}</li>
    {% empty %}
        <li>No Debit Transactions</li>
    {% endfor %}
    </ul>
    <p>Debit Total: {{ monthly_trans.debit.balance|stripe_money }}</p>

    <h5>Balance: {{ balance|stripe_money }}</h5>

{% endblock content %}
