{% extends "cpanel/base-sidebar.html" %}
{% load staticfiles stripe_tags %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if breadcrumbs %}
        {{ breadcrumbs|safe }}
    {% endif %}
{% endblock breadcrumbs %}


{% block content %}

    <div class="row" style="margin-bottom:10px;">
        <div class="col-md-12">
            <div class="btn btn-default btn-xs pull-right">
                <a class="btn dropdown-toggle no_decoration" data-toggle="dropdown" href="#">{{ acct_stmt }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for as in acct_stmts %}
                        <li><a href="{% url 'acct_stmt_detail' as.year as.month %}">{{ as.month_abbr }}</a></li>
                        {% endfor %}
                    </ul>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if monthly_trans %}
                <table class="table table-hover">
                    <tr>
                        <th>Date</th>
                        <th>Type</th>
                        <th>SMS Count</th>
                        <th>Debit</th>
                        <th>Credit</th>
                        <th>Balance</th>
                    </tr>
                    {% for trans in monthly_trans %}
                        <tr>
                            <td>{{ trans.insert_date }}</td>
                            <td>{{ trans.trans_type.name|format_snake_case }}</td>
                            <td>{{ trans.sms_used }}</td>
                            <td>{% if trans.trans_type.name == 'sms_used' %}{{ trans.amount|stripe_money }}{% endif %}</td>
                            <td>{% if trans.trans_type.name != 'sms_used' %}{{ trans.amount|stripe_money }}{% endif %}</td>
                            <td>{{ trans.balance|stripe_money }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <h3>No monthly transactions</h3>
            {% endif %}
        </div>
    </div>

{% endblock content %}
