backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
certifi==2015.11.20.1
croniter==0.3.4
futures==3.0.3
Jinja2==2.8
MarkupSafe==0.23
msgpack-python==0.4.6
pycrypto==2.6.1
python-augeas==0.4.1
PyYAML==3.11
pyzmq==15.1.0
requests==2.8.1
salt==2015.8.3
singledispatch==3.4.0.3
six==1.10.0
supervisor==3.0b2
tornado==4.3
virtualenv==13.1.2