# python
*.py[co]
*.swp
*.db
*.pid
.DS_Store
.coverage
static/
htmlcov/
/__pycache__
*.ipynb*
config.rst
dump.rdb
**/environ/init.sls
digital_ocean.conf
*id_rsa*
so_*
.idea/

# angular
logs/*
!.gitkeep
node_modules/
tmp
vendor/
