01 3 * * * . $HOME/.bashrc; MGMT_CMD=charge_monthly_phone_numbers && bash /opt/django/scripts/custom_mgmt_commands.sh $MGMT_CMD 1> /dev/null 2> /home/web/${MGMT_CMD}.err
10 3 * * * . $HOME/.bashrc; MGMT_CMD=acct_stmt_update && bash /opt/django/scripts/custom_mgmt_commands.sh $MGMT_CMD 1> /dev/null 2> /home/web/${MGMT_CMD}.err
20 3 * * * . $HOME/.bashrc; MGMT_CMD=acct_stmt_update_prev && bash /opt/django/scripts/custom_mgmt_commands.sh $MGMT_CMD 1> /dev/null 2> /home/web/${MGMT_CMD}.err
30 3 * * * . $HOME/.bashrc; MGMT_CMD=archive_guests && bash /opt/django/scripts/custom_mgmt_commands.sh $MGMT_CMD 1> /dev/null 2> /home/web/${MGMT_CMD}.err
