<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <p>Hello,</p>

        <p>We appreciate your interest in our business application.  We read all of our contact emails, and will get back to you within 1-2 business days.</p>

        <p>We look forward to speaking with you.</p>

        <br>

        <p>Thank you</p>
        
    </div>
</body>
</html>  