<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <p><strong>{{ obj.name }},</strong></p>

        <p>We appreciate your interest in our business application.  We read all of our contact emails, and will get back to you within 1-2 business days.</p>

        <p>We look forward to speaking with you.</p>

        <br>

        <p>Thank you,</p>
        <p><em>Textress</em></p>
        <p>Las Vegas, NV</p>
        <p>ph: {{ textress_phone }}</p>
        <p>email: {{ textess_contact_email }}</p>
    </div>
</body>
</html>  