<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body>
    <br>
    <br>
    <div class="container">
        <p><a href="{% url 'email_views:account_charged' %}">email/account_charged/email.html</a></p>
        <p><a href="{% url 'email_views:auto_recharge_failed' %}">email/auto_recharge_failed/email.html</a></p>
        <p><a href="{% url 'email_views:charge_failed' %}">email/charge_failed/email.html</a></p>
        <p><a href="{% url 'email_views:send_delete_unknown_number_failed_email' %}">email/send_delete_unknown_number_failed_email/email.html</a></p>
    </div>
    </body>
</html>