<html>
<body>

<h3>Textress Payment Confirmation</h3>

<p>Thank you for your Pre-Order of LearnRealSQL, and your support.  Below is your purchase information.  If you have any questions, please contact us via email or the website: <a href="http://{{ SITE_URL }}/contact/">contact</a>. We will be in touch with updates for the eBook.  Expected delivery is September 2014.</p>

<br>

<p><strong>Name:</strong> {{ user.username }}</p>
<p><strong>Email:</strong> {{ user.email }}</p>
<p><strong>Purchase Confirmation #:</strong> {{ purchase.code }} </p>
<p><strong>Date:</strong> {{ purchase.purchase_date}} </p>

</body>
</html>  