{% extends "biz/base.html" %}
{% load staticfiles %}

{% block body_tag %}class="coming-soon"{% endblock %}

{% block body %}
    <div class="logo">
        TEXT<a href="{% url 'contact:coming_soon' %}"><img src="{% static 'images/textress_icon.jpg' %}" class="textress-icon"></a>RESS
    </div>
    <div class="timer-area">
        <h1>We're coming soon...</h1>
        <ul id="countdown">
            <li>
                <span class="days">00</span>
                <p class="timeRefDays">
                    days
                </p>
            </li>
            <li>
                <span class="hours">00</span>
                <p class="timeRefHours">
                    hours
                </p>
            </li>
            <li>
                <span class="minutes">00</span>
                <p class="timeRefMinutes">
                    minutes
                </p>
            </li>
            <li>
                <span class="seconds">00</span>
                <p class="timeRefSeconds">
                    seconds
                </p>
            </li>
        </ul>
    </div>
    <div class="container">
        <h2>Sign up and we'll notify you of our launch.
        <br />
        We'll also throw in a freebie for your effort :)</h2>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="email" id="id_email" name="email" class="form-control" placeholder="enter your email address" required>
                        <span class="input-group-btn">
                            <button class="btn btn-teal" type="submit">
                                NOTIFY ME
                            </button> 
                        </span>
                    </div>
                    <div class="field_error">{{ form.email.errors }}</div>
                </form>
            </div>
        </div>
        <div class="row">
            <div id="disclaimer" class="col-md-12">
                <p>
                    <span>*</span> We won't use your email for spam, just to notify you of our launch.
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="copyright">
        2014-2015 &copy; Textress.
    </div>
{% endblock body %}


{% block page_js %}
    <script src="{% static 'clipone/admin/clip-one/assets/js/utility-coming-soon.js' %}"></script>
{% endblock page_js %}

{% block init_js %}
    <script>
        jQuery(document).ready(function() {
            Main.init();
            ComingSoon.init();
        });
    </script>
{% endblock init_js %}