{% extends "cpanel/base-sidebar.html" %}
{% load staticfiles stripe_tags %}


{% block page_css %}
<style type="text/css">
    #add_card {display: none;}
    #other_amount {display: none;}
</style>
{% endblock page_css %}


{% block head_js %}
{{ block.super }}
<!-- form plugins: start -->
<script src="{% static 'clipone/admin/clip-one/assets/plugins/jquery.maskedinput/src/jquery.maskedinput.js' %}"></script>
<script src="{% static 'clipone/admin/clip-one/assets/plugins/jquery-maskmoney/jquery.maskMoney.js' %}"></script>
<!-- form plugins: end -->
<!-- stipe: start -->
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    Stripe.setPublishableKey('{{ publishable_key }}');

    var stripeResponseHandler = function(status, response) {
        var $form = $('#checkout-form');

        if (response.error) {
            // Show the errors on the form
            $form.find('.payment-errors').text(response.error.message);
            $form.find('.payment-errors').addClass('alert');
            $form.find('.payment-errors').addClass('alert-error');
            $form.find('button').prop('disabled', false);
        } else {
            // token contains id, last4, and card type
            var token = response.id;
            // Insert the token into the form so it gets submitted to the server
            $form.append($('<input type="hidden" name="stripe_token" />').val(token));
            // and re-submit
            $form.get(0).submit();
        }
    };

    jQuery(function($) {
        $('#checkout-form').submit(function(e) {
            var $form = $(this);

            // Disable the submit button to prevent repeated clicks
            $form.find('button').prop('disabled', true);

            Stripe.createToken($form, stripeResponseHandler);

            // Prevent the form from submitting with the default action
            return false;
        });
    });
</script>
<!-- stripe: end -->
{% endblock head_js %}


{% block content %}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form method="post" action="" id="checkout-form">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row">
                <div class="well" style="padding:0;">
                    <h4 class="text-center">One-Time payment amount</h4>
                </div>
            </div>
            <div class="row">
                {{ form.amount.errors }}
                <select for="id_amount" name="amount" class="form-control" />
                {% for v,t in form.amount.field.choices %}
                    <option value="{{ v }}">{{ t }}</option>
                {% endfor %}
                </select>
            </div>
            <br>
            <div class="row">
                <div>
                    {{ form.other }} &nbsp; Other Amount
                </div>
            </div>
            <div class="row" id="other_amount">
                <br>
                <label for="id_other_amount">
                    Payment Amount <small class="text-success">0.00</small>
                </label>
                <div>
                    <input type="text" id="id_other_amount" name="other_amount" class="form-control currency">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="well" style="padding:0;">
                    <h4 class="text-center">Credit &amp; Debit Cards</h4>
                </div>
            </div>
            
            <div class="row">
                <div class="pull-right">
                    {{ form.add_card }} &nbsp; Add a Card
                </div>
            </div>

            <div class="row" id="current_cards">
                {% for c in hotel.customer.cards.all %}
                    <div class="radio">
                        <label for="id_cards{{ forloop.counter0 }}">
                            <input id="id_cards{{ forloop.counter0 }}" name="cards" type="radio" value="{{ c.id }}" class="grey">
                            {{ c.brand }} ending in {{ c.last4 }}
                        </label>
                    </div>
                {% endfor %}
            <br>
            </div>


            <div class="row" id="add_card">
                <div class="form-group">
                    <label class="control-label" for="card">Card</label>
                    <div class="controls">
                        <input type="text" id="card" class="form-control" data-stripe="number" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="control-label" for="">Expiration (MM/YYYY)</label>
                            <div class="row">
                                <div class="col-md-5" style="padding-right:0;">
                                    <select data-stripe="exp-month" class="form-control" />
                                    {% for month in months %}
                                        {{ month|safe }}
                                    {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xs-1">
                                    <h2 style="margin-top:0;">/</h2>
                                </div>
                                <div class="col-md-5" style="padding-left:5px;">
                                    <select data-stripe="exp-year" class="form-control" />
                                    {% for year in years %}
                                        {{ year|safe }}
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label" for="cvc">CVC</label>
                            <div class="controls">
                                <input type="text" id="cvc" size="4" class="form-control" data-stripe="cvc" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <small>By clicking submit, you are agreeing to the <a href="{% url 'terms_n_cond' %}">terms and conditions</a></small>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="controls">
                            <div class="pull-right">
                                <input type="submit" value="Submit" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-12 tab-content">
                    <div class="row">
                        <div class="col-md-11">
                            <p>We don't store any credit card information. All payments information is transferred via secure SSL and processed by <a href="https://stripe.com/gallery"><strong>Stripe, Inc.</strong></a></p>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="https://stripe.com/gallery">
                            <img style="max-width:80%" src="{% static 'images/stripe-payments.png' %}" alt="powered-by-stripe">
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
{% endblock content %}


{% block page_js %}
<script type="text/javascript">
// Add a Card hide logic
$(document).ready(function(){
    $('#id_add_card').click(function(){
        $("#add_card").toggle();
        if ($("#current_cards").is(":visible")){
            $("#current_cards").hide();
        }
        else {
            $("#current_cards").show();
        }
    });
    $('#id_other').click(function(){
        $("#other_amount").toggle();
    });
});
// Input Helpers
$(function() {
    $('#id_other_amount').maskMoney();
});
</script>
{% endblock page_js %}