{% extends "frontend/base.html" %}
{% load staticfiles stripe_tags %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'clipone/frontend/clip-one/assets/plugins/flex-slider/flexslider.css' %}">
<link href="{% static 'djangular/css/styles.css' %}" rel="stylesheet" />
<link href="{% static 'djangular/css/bootstrap3.css' %}" rel="stylesheet" />
<link href="{% static 'css/djangular-demo.css' %}" rel="stylesheet" />
{% endblock page_css %}


{% block content %}
<!-- <div class="main-container">
    <section class="wrapper padding50">
        <div class="container">
            <form name="{{ form.form_name }}" method="post" action="" novalidate>
                {% csrf_token %}
                <div id="wizard" class="swMain">
                    <ul>
                    {% for step in steps %}
                        <li>
                            <a href="#step-{{ forloop.counter }}">
                                <div class="stepNumber">
                                    {{ forloop.counter }}
                                </div>
                                <span class="stepDesc"> Step {{ forloop.counter }}
                                    <br />
                                    <small>{{ step }}</small> </span>
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>

                <div class="progress progress-striped active progress-sm">
                    <div aria-valuemax="100" aria-valuemin="0" role="progressbar" class="progress-bar progress-bar-success step-bar">
                        <span class="sr-only"> 0% Complete (success)</span>
                    </div>
                </div>

                {% comment %}
                    Empty Form here
                {% endcomment %}
            </form>
        </div>
    </section>
 -->
    <section>
        <div class="container">
            <div class="row">
                <!-- Plan Info -->
                <h4>TODO: Add more details about the plan here. Will also need a disclaimer, terms n cond's, etc..</h4>
                <h4>Step1: User: {{ user.username }}</h4>
                <h4>Step2: Hotel: {{ user.profile.hotel }}</h4>
                <h4>Step3: Payment Settings:</h4>
                  <ul>
                    <li>Initial Payment: {{ acct_cost.init_amt|stripe_money }}</li>
                    <li>If Balance falls Below: {{ acct_cost.balance_min|stripe_money }}</li>
                    <li>Refill Account to: {{ acct_cost.recharge_amt|stripe_money }}</li>
                  </ul>

              <form action="" method="POST">{% csrf_token %}
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="{{ publishable_key }}"
                  data-amount="{{ plan.amount }}"
                  data-name="Textress"
                  data-description="{{ plan.description }}">
                </script>
              </form>

            </div>
        </div>
    </section>
</div>
<!-- end: MAIN CONTAINER -->
{% endblock content %}


{% block footer %}{% endblock %}


{% block page_js %}
<script src="{% static 'clipone/admin/clip-one/assets/plugins/jquery-validation/dist/jquery.validate.min.js' %}"></script>
<script src="{% static 'clipone/admin/clip-one/assets/plugins/jQuery-Smart-Wizard/js/jquery.smartWizard.js' %}"></script>
{% endblock page_js %}


{% block init_js %}
<script>
    jQuery(document).ready(function() {
        Main.init();

    var FormWizard = function() {
        var wizardContent = $('#wizard');
        var wizardForm = $('#form');
        var initWizard = function() {
            // function to initiate Wizard Form
            wizardContent.smartWizard({
                selected : 0,
                keyNavigation : false,
            });
            var numberOfSteps = 0;
            animateBar();
        };
        var animateBar = function(val) {
            if (( typeof val == 'undefined') || val == "") {
                val = {{ step_number|add:"1" }};
            };
            numberOfSteps = $('.swMain > ul > li').length;
            var valueNow = Math.floor(100 / numberOfSteps * val);
            $('.step-bar').css('width', valueNow + '%');
        };
        return {
            init : function() {
                initWizard();
            }
        };
    }();

        FormWizard.init();
    });
</script>
{% endblock init_js %}