<!DOCTYPE html>
<html>

<head>
    {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'concierge/bower_components/jquery/jquery.js' %}"></script>

    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        Stripe.setPublishableKey('{{ publishable_key }}');

        var stripeResponseHandler = function(status, response) {
            var $form = $('#checkout-form');

            if (response.error) {
                // Show the errors on the form
                $form.find('.payment-errors').text(response.error.message);
                $form.find('.payment-errors').addClass('alert');
                $form.find('.payment-errors').addClass('alert-error');
                $form.find('button').prop('disabled', false);
            } else {
                // token contains id, last4, and card type
                var token = response.id;
                // Insert the token into the form so it gets submitted to the server
                $form.append($('<input type="hidden" name="stripe_token" />').val(token));
                // and re-submit
                $form.get(0).submit();
            }
        };

        jQuery(function($) {
            $('#checkout-form').submit(function(e) {
                var $form = $(this);

                // Disable the submit button to prevent repeated clicks
                $form.find('button').prop('disabled', true);

                Stripe.createToken($form, stripeResponseHandler);

                // Prevent the form from submitting with the default action
                return false;
            });
        });
    </script>
</head>

<body>
    <div class="container">
    <div class="row">
  
      {% for key, value in form.errors.items %}
          <p>{{ value }}</p>
      {% endfor %}
      
      <form action="" method="post">{% csrf_token %}
        
        {% for field in form %}
          <div class="field-wrapper">
            
            <div class="field-label">
              {{ field.label_tag }}:
            </div>
            
            <div class="field-field">
              {{ field }}
              {{ field.errors }}
            </div>
                
          </div>
        {% endfor %}
        
        <br>
        <input type="submit" value="Charge Me!" />
      </form>
      
    </div>


</body>

</html>