{% extends "cpanel/base-sidebar.html" %}

{% block content %}
<!-- start: PAGE -->
<div class="main-content">
    <div class="container">
        <!-- start: PAGE HEADER -->
        <div class="row">
            <div class="col-sm-12">
                <!-- start: PAGE TITLE & BREADCRUMB -->
                <ol class="breadcrumb">
                    <li>
                        <i class="clip-home-3"></i>
                        <a href="{% url 'account' %}">
                            Home
                        </a>
                    </li>
                    <li class="active">
                        {{ headline }}
                    </li>
                    <li class="search-box">
                        <form class="sidebar-search">
                            <div class="form-group">
                                <input type="text" placeholder="Start Searching...">
                                <button class="submit">
                                    <i class="clip-search-3"></i>
                                </button>
                            </div>
                        </form>
                    </li>
                </ol>

                {% if messages %}
                <div class="row" style="background-color: #363839;">
                    <div class="container">
                    {% for message in messages %}
                        <h4 class="text-center" style="color: white;">{{ message }}</h4>
                    {% endfor %}</div>
                </div>
                {% endif %}

                <div class="page-header">
                    <h1>{{ headline }}</h1>
                </div>
                <!-- end: PAGE TITLE & BREADCRUMB -->
            </div>
        </div>

        {% if addit_info %}
            {{ addit_info|safe }}
        {% endif %}
    
        <div class="row">
            <div class="col-sm-12">
                <form name="{{ form.form_name }}" method="post" action="">
                    {% csrf_token %}
                    {% if form.phone_numbers %}
                        <table class="table table-hover">
                            <tr>
                                <th>Primary</th>
                                <th>Phone Number</th>
                                <th>Delete</th>
                            </tr>
                            <tr>
                                {% for ph in phone_numbers %}
                                    <td><input checked="checked" type="radio" id="id_phone_numbers_{{forloop.counter0}}" name="phone_numbers" value="{{ ph.sid }}"></td>
                                    <td>{{ ph.friendly_name }}</td>
                                    <td>
                                        <a href="{% url 'sms:ph_num_delete' ph.sid %}">
                                            <button type="button" class="btn btn-danger btn-xs">Delete</button>
                                        </a>
                                    </td>
                                {% endfor %}
                            </tr>
                        </table>
                        <div>
                            <button class="btn btn-success next-step" ng-disabled="{{ form.form_name }}.$invalid">
                                Update primary number <i class="fa fa-arrow-circle-right"></i>
                            </button>
                        </div>
                    {% else %}
                        <p>No phone numbers on account.</p>
                    {% endif %}
                
                </form>
            </div>
        </div>
        <!-- end: PAGE CONTENT -->
    </div>
</div>
<!-- end: PAGE -->        
{% endblock content %}