<div class="main-container">

    <section class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="center">Guest Service</h1>
                    <p class="center">
                        The platfom is designed with Guest Service as the number <strong>one</strong> objective.
                    </p>
                    <p class="center lead">
                        When designing the Textress SMS Service, we consistently asked, "How can we improve Guest Service, and what features are important?"
                    </p>
                    <hr>
                </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="center">
                        <i class="clip-plus-circle circle-icon"></i>
                    </div>
                    <div>
                        <h2 class="center">Confirm</h2>
                    </div>
                    <br>
                    <div class="content">
                        Ask Guests to respond "Y" to Confirm and their Phone Number will be <em>auto-confirmed</em> in the system.
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="center">
                        <i class="clip-minus-circle circle-icon"></i>                                    
                    </div>
                    <div>
                        <h2 class="center">Opt-out</h2>
                    </div>
                    <br>
                    <div class="content">
                        The same for opting out. Guest can respond "S" at any time to opt-out and will be <em>auto-unsubscribed</em> from SMS messaging.
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="center">
                        <i class="clip-info circle-icon"></i>                                    
                    </div>
                    <div>
                        <h2 class="center">Help</h2>
                    </div>
                    <br>
                    <div class="content">
                        Text "H" any time for "Help".  Use the default Help message or custom set your Help message for your hotel.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="wrapper wrapper-grey padding50">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="center">Customizable</h1>
                    <p class="center">
                        Confirm, Opt-out, welcome and thank you for staying messages can be turned on and off as well as you can set your own auto responses.
                    </p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="feature-box">
                        <div class="feature-icon animate">
                            <i class="fa fa-file-text-o"></i>
                        </div>
                        <div class="feature-info">
                            <h4>Welcome Message</h4>
                            <p>
                                Send a Welcome message the Hotel Guest. They will now have the SMS Concierge <strong>phone number</strong>.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature-box">
                        <div class="feature-icon animate">
                            <i class="fa fa-indent"></i>
                        </div>
                        <div class="feature-info">
                            <h4>Thank You for Staying</h4>
                            <p>
                                Thank Guests for staying. Even send them a <strong>post-stay</strong> survey link.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature-box">
                        <div class="feature-icon animate">
                            <i class="fa fa-clipboard"></i>
                        </div>
                        <div class="feature-info">
                            <h4>SMS Signatures</h4>
                            <p>
                                Use a <strong>global</strong> SMS signature for your Hotel, or have <strong>personal</strong> SMS signatures for your employees.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature-box">
                        <div class="feature-icon animate">
                            <i class="fa fa-chain"></i>
                        </div>
                        <div class="feature-info">
                            <h4>Create Your Own Auto Responses</h4>
                            <p>
                                Choose the <strong>letter</strong> and the <em>auto-response</em> that you want. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="wrapper padding50">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="center">Asynchronous</h1>
                    <p class="center">
                        All messages show on screen as soon as they are sent. 
                    </p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4 class="center"><strong style="color: #007AFF;">Incoming and Outgoing</strong></h4>
                    <p>
                        All incoming and outgoing messages show asynchonously and are saved for data reporting.
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="center"><strong style="color: #007AFF;">Alert Bar</strong></h4>
                    <p>
                        The interface shows incoming message alerts for SMS messages that haven't been read yet.
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="center"><strong style="color: #007AFF;">Messages Statuses</strong></h4>
                    <p>
                        Once messages are viewed their status will be updated to "read".
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="wrapper wrapper-grey padding50">
        <!-- start: CLIENTS CONTAINER -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="center">
                        <i class="clip-phone circle-icon"></i>                                    
                    </div>
                    <h2 class="center">
                        Phone Number
                    </h2>
                    <div class="content center">
                        Your Hotel's SMS Phone Number will be local to your area code.
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="center">
                        <i class="clip-users circle-icon"></i>                                    
                    </div>
                    <h2 class="center">
                        User Permissions
                    </h2>
                    <div class="content center">
                        There are 3 permission levels. Admin, Manager, and Employee. With different levels of access for the structure of your hotel operation.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="wrapper padding50">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="center">Business Intelligence</h1>
                    <p class="center">
                        It's your data! You can access raw data or charted data for all SMS business events.
                    </p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-box">
                        <div class="feature-icon animate">
                            <i class="fa fa-archive"></i>
                        </div>
                        <div class="feature-info">
                            <h4>Data</h4>
                            <p>
                                All raw Data is available for Messages, Guests, and Users.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-box">
                        <div class="feature-icon animate">
                            <i class="fa fa-bar-chart-o"></i>
                        </div>
                        <div class="feature-info">
                            <h4>Charts</h4>
                            <p>
                                Charted data is available for usage by User, Guest, date range, etc... Slice and dice your data, and make a cool chart.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-box">
                        <div class="feature-icon animate">
                            <i class="fa fa-print"></i>
                        </div>
                        <div class="feature-info">
                            <h4>Printable PDFs</h4>
                            <p>
                                Raw data outputs to CSV, and Charts output to PDF.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>







