<!-- start: MAIN CONTAINER -->
<div class="main-container">
    <section class="wrapper padding50">
        <!-- start: CLIENTS CONTAINER -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                        <h1 class="center">Textress</h1>
                        <h3 class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt nibh et purus ultricies, id consectetur quam dictum. Quisque mattis molestie risus.</h3>
                        <div class="wrapper center">
                            <button type="button" class="btn btn-main-color btn-large">Start Free Trial</button>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wrapper wrapper-grey padding50">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="core-box">
                        <div class="heading">
                            <i class="clip-mobile circle-icon circle-green"></i>
                            <h2>Guest Service</h2>
                        </div>
                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        </div>
                        <a class="view-more" href="#">
                            View More <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="core-box">
                        <div class="heading">
                            <i class="clip-clip circle-icon circle-teal"></i>
                            <h2>Customizable</h2>
                        </div>
                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        </div>
                        <a class="view-more" href="#">
                            View More <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="core-box">
                        <div class="heading">
                            <i class="clip-cogs circle-icon circle-bricky"></i>
                            <h2>Pay as You Go</h2>
                        </div>
                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        </div>
                        <a class="view-more" href="#">
                            View More <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wrapper padding50">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="center">Send and Receive SMS Just Like from a Cell Phone</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <h4><strong>Simple</strong> requests can be handled quickly without making the Guest wait.</h4>
                        <hr>
                        <h4>Increased Guest <strong>Service</strong> means more repeat customers.</h4>
                        <hr>
                        <h4>Just like normal <strong>SMS</strong> except all employees can see incoming SMS and have a chance to respond.</h4>
                    </ul>
                </div>
                <div class="col-md-6">
                    <p class="triangle-right right">Welcome to Textress Hotel. This is your SMS Concierge. Please let us know if there is anything that you need.</p>
                    <p class="triangle-right left">Yes, can I have extra towels?</p>
                    <p class="triangle-right right">Yes sir, they are there way.</p>
                </div>
            </div>
        </div>
        <!-- end: WORKS CONTAINER -->
    </section>
    <section class="wrapper wrapper-grey padding50">
        <!-- start: ABOUT US CONTAINER -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="center">Business Inteligence Analytics</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="core-box">
                        <div class="center">
                            <i class="clip-wave-2 circle-icon"></i>                                    
                        </div>
                        <div>
                            <h4 class="center">Data</h4>
                        </div>
                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        </div>
                        <a class="view-more" href="#">
                            View More <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="core-box">
                        <div class="center">
                            <i class="clip-arrow-up circle-icon"></i>                                    
                        </div>
                        <div>
                            <h4 class="center">Charts</h4>
                        </div>
                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        </div>
                        <a class="view-more" href="#">
                            View More <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="core-box">
                        <div class="center">
                            <i class="clip-podcast circle-icon"></i>                                    
                        </div>
                        <div>
                            <h4 class="center">Printable PDFs</h4>
                        </div>
                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        </div>
                        <a class="view-more" href="#">
                            View More <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: ABOUT US CONTAINER -->
    </section>
    <section class="wrapper padding50">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="center">Increase your performance with our services</h1>
                    <p class="center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non metus. pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eu risus enim, ut pulvinar lectus. Sed hendrerit nibh.
                    </p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-box">
                        <div class="feature-icon animate" data-animation-options='{"animation":"fadeInLeft", "duration":"600"}'>
                            <i class="fa fa-group"></i>
                        </div>
                        <div class="feature-info">
                            <h4>Customer Support</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-box">
                        <div class="feature-icon animate" data-animation-options='{"animation":"fadeInLeft", "duration":"600"}'>
                            <i class="fa fa-mobile"></i>
                        </div>
                        <div class="feature-info">
                            <h4>Fully Responsive</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-box">
                        <div class="feature-icon animate" data-animation-options='{"animation":"fadeInLeft", "duration":"600"}'>
                            <i class="fa fa-random"></i>
                        </div>
                        <div class="feature-info">
                            <h4>Awesome Sliders</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-box">
                        <div class="feature-icon animate" data-animation-options='{"animation":"fadeInLeft", "duration":"600"}'>
                            <i class="fa fa-text-width"></i>
                        </div>
                        <div class="feature-info">
                            <h4>Google Fonts</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-box">
                        <div class="feature-icon animate" data-animation-options='{"animation":"fadeInLeft", "duration":"600"}'>
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="feature-info">
                            <h4>Custom Icons</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-box">
                        <div class="feature-icon animate" data-animation-options='{"animation":"fadeInLeft", "duration":"600"}'>
                            <i class="fa fa-file"></i>
                        </div>
                        <div class="feature-info">
                            <h4>HTML5 / CSS3 / JS</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end: MAIN CONTAINER -->