{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="/">
        <title>Textress</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta content="" name="description" />
        <meta content="" name="author" />

        {% block main_css %}
        <link href="{% static 'clipone/frontend/clip-one/assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{% static 'clipone/frontend/clip-one/assets/plugins/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'clipone/frontend/clip-one/assets/fonts/style.css' %}">
        <link rel="stylesheet" href="{% static 'clipone/frontend/clip-one/assets/plugins/animate.css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'clipone/frontend/clip-one/assets/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'clipone/frontend/clip-one/assets/css/main-responsive.css' %}">
        <link rel="stylesheet" href="{% static 'clipone/frontend/clip-one/assets/css/theme_blue.css' %}" type="text/css" id="skin_color">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css" id="skin_color">
        {% endblock main_css %}

        {% block page_css %}
        {% endblock page_css %}

        {% block head_js %}
        <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
        {% endblock head_js %}
    </head>
    <!-- end: HEAD -->
    <body {% block angular_app %}{% endblock %}>
        <!-- start: HEADER -->
        <header>
            {% if messages %}
            <div class="row" style="background-color: #363839;">
                <div class="container">
                {% for message in messages %}
                    <h4 class="text-center" style="color: white;">{{ message }}</h4>
                {% endfor %}</div>
            </div>
            {% endif %}
            <div role="navigation" class="navbar navbar-default navbar-fixed-top">
                <!-- start: TOP NAVIGATION CONTAINER -->
                <div class="container">
                    <div class="navbar-header">
                        <!-- start: RESPONSIVE MENU TOGGLER -->
                        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- end: RESPONSIVE MENU TOGGLER -->
                        <!-- start: LOGO -->
                        <a class="navbar-brand" href="{% url 'index' %}">
                            TEXT<i><img src="{% static 'images/textress-logo.gif' %}" class="textress-icon"></i>RESS
                        </a>
                        <!-- end: LOGO -->
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="{% url 'index' %}" target="_self">
                                    Home
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="{% url 'index' %}#pricing" target="_self">
                                    Pricing
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="{% url 'index' %}#contact" target="_self">
                                    Contact
                                </a>
                            </li>
                            {% if not user.is_authenticated %}
                                <li class="dropdown">
                                    <a href="{% url 'login' %}" target="_self">
                                        Login
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="{% url 'main:register_step1' %}" target="_self">
                                        <strong style="color: #007AFF;">Signup</strong>
                                    </a>
                                </li>
                            {% else %}
                                <li class="dropdown">
                                    <a href="{% url 'logout' %}" target="_self">
                                        <strong style="color: #007AFF;">Logout</strong>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <!-- end: TOP NAVIGATION CONTAINER -->
            </div>
        </header>
        <!-- end: HEADER -->

        {% block content %}
        {% endblock content %}



{% block footer %}
    <footer id="footer">
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <a class="logo" href="/">
                            TEXTRESS
                        </a>
                    </div>
                    <div class="col-md-6">
                        <p>
                            &copy; Copyright 2015 Textress. All Rights Reserved.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <nav id="sub-menu">
                            <ul>
                                <li>
                                    <a href="{% url 'index' %}#faq" target="_self">
                                        FAQ's
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'index' %}#contact" target="_self">
                                        Contact
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a id="scroll-top" href="#"><i class="fa fa-angle-up"></i></a>
{% endblock footer %}


{% block main_js %}
<script src="{% static 'clipone/frontend/clip-one/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'clipone/frontend/clip-one/assets/plugins/jquery.transit/jquery.transit.js' %}"></script>
<script src="{% static 'clipone/frontend/clip-one/assets/plugins/hover-dropdown/twitter-bootstrap-hover-dropdown.min.js' %}"></script>
<script src="{% static 'clipone/frontend/clip-one/assets/plugins/jquery.appear/jquery.appear.js' %}"></script>
<script src="{% static 'clipone/frontend/clip-one/assets/plugins/blockUI/jquery.blockUI.js' %}"></script>
<script src="{% static 'clipone/frontend/clip-one/assets/plugins/jquery-cookie/jquery.cookie.js' %}"></script>
<script src="{% static 'clipone/frontend/clip-one/assets/js/main.js' %}"></script>
{% endblock main_js %}


{% block page_js %}
{% endblock page_js %}


{% block init_js %}
<script>
    jQuery(document).ready(function() {
        Main.init();
    });
</script>
{% endblock init_js %}


    </body>
</html>