{% extends "frontend/base.html" %}
{% load staticfiles %}


{% block page_css %}
<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
<link rel="stylesheet" href="{% static 'clipone/frontend/clip-one/assets/plugins/revolution_slider/rs-plugin/css/settings.css' %}">
<link rel="stylesheet" href="{% static 'clipone/frontend/clip-one/assets/plugins/flex-slider/flexslider.css' %}">
<link rel="stylesheet" href="{% static 'clipone/frontend/clip-one/assets/plugins/colorbox/example2/colorbox.css' %}">
<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
{% endblock page_css %}


{% block content %}
<!-- start: MAIN CONTAINER -->
<div class="main-container">

    <section class="wrapper wrapper-grey padding50">
        <!-- start: WORKS CONTAINER -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="center">SMS for Business</h1>
                    <hr>
                    <h3 class="center">
                        Fast and friendly communication that drives customer service.
                    </h3>
                </div>
            </div>
        </div>
    </section>

    <section>
        <!-- start: CORE BOXES CONTAINER -->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="core-box">
                        <div class="heading">
                            <i class="clip-mobile circle-icon"></i>
                            <h2>Modern</h2>
                        </div>
                        <div class="content">
                            Uses cutting edge technology built on a distributed resilient system, so your messages get to your customers.
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="core-box">
                        <div class="heading">
                            <i class="clip-clip circle-icon"></i>
                            <h2>Customizable</h2>
                        </div>
                        <div class="content">
                            They are your messages, so you should be able to customize them how you want. That is what we believe, and our platform is built to embrace this.
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="core-box">
                        <div class="heading">
                            <i class="clip-cogs circle-icon"></i>
                            <h2>Always Improving</h2>
                        </div>
                        <div class="content">
                            We work under a continuous integration model where new features are always being added based on what our customers want.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: CORE BOXES CONTAINER -->
    </section>

    <section class="wrapper wrapper-grey padding50">
        <!-- start: ABOUT US CONTAINER -->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2 style="text-align: right;">Textress Concierge</h2>
                    <hr class="fade-left">
                    <p style="text-align: right;">
                        Improve your guest service.
                    </p>
                    <p style="text-align: right;">
                        Simple requests are handled quick and easy.
                    </p>
                    <p style="text-align: right;">
                        Serve guest requests without intruding.
                    </p>
                    <p style="text-align: right;">
                        Guests signup at check-in, so no need to confirm their identity.
                        <br>
                        It is their phone number.
                    </p>
                    <hr class="fade-left">
                </div>
                <div class="col-sm-6">
                    <ul class="icon-list animate-group">
                        <li>
                            <div class="timeline animate" data-animation-options='{"animation":"scaleToBottom", "duration":"300"}'></div>
                            <i class="clip-stack-empty circle-icon circle-teal animate" data-animation-options='{"animation":"flipInY", "duration":"600"}'></i>
                            <div class="icon-list-content">
                                <h4>Can I have more towels please?</h4>
                            </div>
                        </li>
                        <li>
                            <div class="timeline animate" data-animation-options='{"animation":"scaleToBottom", "duration":"300", "delay": "300"}'></div>
                            <i class="clip-paperplane circle-icon circle-green animate" data-animation-options='{"animation":"flipInY", "duration":"600"}'></i>
                            <div class="icon-list-content">
                                <h4>Absolutely Mr. Davis. They will be there shortly.</h4>
                            </div>
                        </li>
                        <li>
                            <div class="timeline animate" data-animation-options='{"animation":"scaleToBottom", "duration":"300", "delay": "300"}'></div>
                            <i class="clip-droplet circle-icon circle-bricky animate" data-animation-options='{"animation":"flipInY", "duration":"600"}'></i>
                            <div class="icon-list-content">
                                <h4>Thank you</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end: ABOUT US CONTAINER -->
    </section>

    <section class="wrapper padding20">
        <!-- start: BLOG POSTS AND COMMENTS CONTAINER -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="center">
                        <button type="button" class="btn btn-main-color btn-lg">Create Trial Account</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                        <span><a href="mailto:sayhello@textress.com">Email</a></span>
                        &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                        <span>+1 (775) 419-4000</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: BLOG POSTS AND COMMENTS CONTAINER -->
    </section>
</div>
<!-- end: MAIN CONTAINER -->
{% endblock content %}


{% block page_js %}
    <script src="{% static 'clipone/frontend/clip-one/assets/plugins/revolution_slider/rs-plugin/js/jquery.themepunch.plugins.min.js' %}"></script>
    <script src="{% static 'clipone/frontend/clip-one/assets/plugins/revolution_slider/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'clipone/frontend/clip-one/assets/plugins/flex-slider/jquery.flexslider.js' %}"></script>
    <script src="{% static 'clipone/frontend/clip-one/assets/plugins/stellar.js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'clipone/frontend/clip-one/assets/plugins/colorbox/jquery.colorbox-min.js' %}"></script>
    <script src="{% static 'clipone/frontend/clip-one/assets/js/index.js' %}"></script>
{% endblock page_js %}


{% block init_js %}
<script>
    jQuery(document).ready(function() {
        Main.init();
        Index.init();
        $.stellar();
    });
</script>
{% endblock init_js %}