{% extends "frontend/base.html" %}
{% load staticfiles %}


{% block page_css %}
<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
<link rel="stylesheet" href="{% static 'clipone/frontend/clip-one/assets/plugins/revolution_slider/rs-plugin/css/settings.css' %}">
<link rel="stylesheet" href="{% static 'clipone/frontend/clip-one/assets/plugins/flex-slider/flexslider.css' %}">
<link rel="stylesheet" href="{% static 'clipone/frontend/clip-one/assets/plugins/colorbox/example2/colorbox.css' %}">
<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
{% endblock page_css %}


{% block head_js %}
{{ block.super }}
<!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="{% static 'vendor/angular-resource/angular-resource.min.js' %}"></script>
<script src="{% static 'vendor/angular-route/angular-route.min.js' %}"></script>
<script src="{% static 'vendor/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
<script src="{% static 'angular/app.js' %}"></script>
<script src="{% static 'angular/services.js' %}"></script>
<script src="{% static 'angular/controllers.js' %}"></script>
<!-- Angular: End -->
{% endblock head_js %}


{% block content %}
<!-- start: MAIN CONTAINER -->
<div class="main-container">

    <section class="wrapper padding50" style="background-image: url('/static/clipone/frontend/clip-one/assets/images/photodune-4043508-3d-modern-office-room-l.jpg')" data-stellar-background-ratio="0.8" data-stellar-vertical-offset="-750">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="center white"> SMS for Business</h1>
            <hr>
                    <h3 class="center white">
                        Fast and friendly communication that drives customer service.
                    </h3>
                </div>
            </div>
        </div>
    </section>

    <section>
        <!-- start: CORE BOXES CONTAINER -->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="core-box">
                        <div class="heading">
                            <i class="clip-mobile circle-icon"></i>
                            <h2>Modern</h2>
                        </div>
                        <div class="content">
                            Uses cutting edge technology built on a distributed resilient system, so your messages get to your customers.
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="core-box">
                        <div class="heading">
                            <i class="clip-clip circle-icon"></i>
                            <h2>Customizable</h2>
                        </div>
                        <div class="content">
                            They are your messages, so you should be able to customize them how you want. That is what we believe, and our platform is built to embrace this.
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="core-box">
                        <div class="heading">
                            <i class="clip-cogs circle-icon"></i>
                            <h2>Always Improving</h2>
                        </div>
                        <div class="content">
                            We work under a continuous integration model where new features are always being added based on what our customers want.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: CORE BOXES CONTAINER -->
    </section>

    <section class="wrapper wrapper-grey padding50">
        <!-- start: ABOUT US CONTAINER -->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2 style="text-align: right;">Textress Concierge</h2>
                    <hr class="fade-left">
                    <p style="text-align: right;">
                        Improve your guest service.
                    </p>
                    <p style="text-align: right;">
                        Simple requests are handled quick and easy.
                    </p>
                    <p style="text-align: right;">
                        Serve guest requests without intruding.
                    </p>
                    <p style="text-align: right;">
                        Guests signup at check-in, so no need to confirm their identity.
                        <br>
                        It is their phone number.
                    </p>
                    <hr class="fade-left">
                </div>
                <div class="col-sm-6">
                    <ul class="icon-list animate-group">
                        <li>
                            <div class="timeline animate" data-animation-options='{"animation":"scaleToBottom", "duration":"300"}'></div>
                            <i class="clip-phone circle-icon circle-grey-one animate" data-animation-options='{"animation":"flipInY", "duration":"600"}'></i>
                            <div class="icon-list-content">
                                <h4>Can I have more towels please?</h4>
                                <p>- Mr. Davis</p>
                            </div>
                        </li>
                        <li>
                            <div class="timeline animate" data-animation-options='{"animation":"scaleToBottom", "duration":"300", "delay": "300"}'></div>
                            <i class="clip-phone circle-icon circle-grey-two animate" data-animation-options='{"animation":"flipInY", "duration":"600"}'></i>
                            <div class="icon-list-content">
                                <h4>Absolutely Mr. Davis. They will be there shortly.</h4>
                                <p>- hotel concierge</p>
                            </div>
                        </li>
                        <li>
                            <div class="timeline animate" data-animation-options='{"animation":"scaleToBottom", "duration":"300", "delay": "300"}'></div>
                            <i class="clip-phone circle-icon circle-grey-one animate" data-animation-options='{"animation":"flipInY", "duration":"600"}'></i>
                            <div class="icon-list-content">
                                <h4>Thank you</h4>
                                <p>- Mr. Davis</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end: ABOUT US CONTAINER -->
    </section>

    <section class="wrapper padding20" id="pricing" ng-app="homeApp">
        <div class="container" ng-controller="PricingCtrl">
            <div class="row">
                <h2 class="text-center">Pricing</h2>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <h4>Estimated SMS Per Month</h4>

                    <form id="contactForm">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label>
                                        Enter SMS Volume  <span class="symbol required"></span>
                                    </label>
                                    <input ng-model="volume" ng-init="" type="number" value="[[ volume ]]" ng-submit="submit_volume(volume)" class="form-control">
                                </div>
                            </div>
                        </div>
                    </form>


                    <h4>Example Volumes</h4>
                    <ul class="list-unstyled">
                        <li ng-repeat="volume in volumes"><a href="" ng-click="submit_volume(volume)">[[ volume ]]</a></li>
                    </ul>
                    <h4>SMS Volume: [[ volume ]]</h4>
                    <h4>Cost: [[ calc_cost() | currency ]]</h4>
                </div>

                <div class="col-sm-8">
                    <h3 class="text-center">Cost Table</h3>
                    <table class="table table-hover">
                        <tr>
                            <th>Tier</th>
                            <th>Pricer per SMS</th>
                            <th>Description</th>
                            <th>SMS Sent</th>
                        </tr>
                        <tr ng-repeat="price in prices">
                            <td>[[ price.tier_name ]]</td>
                            <td>[[ price.price ]]</td>
                            <td>[[ price.desc ]]</td>
                            <td>[[ price.start ]] - [[ price.end ]]</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </section>

    <section class="wrapper wrapper-grey padding20">
        <!-- start: BLOG POSTS AND COMMENTS CONTAINER -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="center">
                        <button type="button" class="btn btn-main-color btn-lg">Create Trial Account</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                        <span><a href="mailto:sayhello@textress.com">Email</a></span>
                        &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                        <span>+1 (775) 419-4000</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: BLOG POSTS AND COMMENTS CONTAINER -->
    </section>
</div>
<!-- end: MAIN CONTAINER -->
{% endblock content %}


{% block page_js %}
    <script src="{% static 'clipone/frontend/clip-one/assets/plugins/revolution_slider/rs-plugin/js/jquery.themepunch.plugins.min.js' %}"></script>
    <script src="{% static 'clipone/frontend/clip-one/assets/plugins/revolution_slider/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'clipone/frontend/clip-one/assets/plugins/flex-slider/jquery.flexslider.js' %}"></script>
    <script src="{% static 'clipone/frontend/clip-one/assets/plugins/stellar.js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'clipone/frontend/clip-one/assets/plugins/colorbox/jquery.colorbox-min.js' %}"></script>
    <script src="{% static 'clipone/frontend/clip-one/assets/js/index.js' %}"></script>

{% endblock page_js %}


{% block init_js %}
<script>
    jQuery(document).ready(function() {
        Main.init();
        Index.init();
        $.stellar();
    });
</script>
{% endblock init_js %}