{% extends "email/base.html" %}
{% load stripe_tags %}

{% block body %}
    <div class="row">
        <p>Hello {{ user }},</p>
        <p>Charge failed for {{ amount|stripe_money }}.</p>
        <p>Please confirm that your method of payment is valid in order to continue using Textress.</p>
        <p><strong>Your account has been temporarily disabled. Please follow the link below, in order to reactivate your account.</strong></p>
        <p><a href="{% url 'payment:one_time_payment' %}">{{ SITE_URL }}{% url 'payment:one_time_payment' %}</a></p>
    </div>
{% endblock body %}