{% extends "cpanel/base-sidebar.html" %}


{% block content %}
    <!-- start: PAGE CONTENT -->
    <div class="row">
        <div class="col-sm-4">
            <div class="user-left">
                <div class="row">
                    <div class="col-sm-12">
                        <a href="{% url 'concierge:guest_create' %}">
                            <div class="core-box">
                                <div class="heading">
                                    <i class="clip-user-5 circle-icon circle-green"></i>
                                    <h2>Add a Guest</h2>
                                </div>
                                <div class="content">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <a href="{% url 'concierge:guest_list' %}">
                            <div class="core-box">
                                <div class="heading">
                                    <i class="clip-users-2 circle-icon circle-teal"></i>
                                    <h2>Guest List</h2>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <a href="{% url 'main:user_detail' user.pk %}">
                            <div class="core-box">
                                <div class="heading">
                                    <i class="clip-user-3 circle-icon circle-bricky"></i>
                                    <h2>My Profile</h2>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="panel-body panel-scroll" style="height:300px">
                <ul class="activities">
                    <li>
                        <a class="activity" href="javascript:void(0)">
                            <i class="clip-upload-2 circle-icon circle-green"></i>
                            <span class="desc">You uploaded a new release.</span>
                            <div class="time">
                                <i class="fa fa-time bigger-110"></i>
                                2 hours ago
                            </div>
                        </a>
                    </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end: PAGE -->        
{% endblock content %}
