{% extends "cpanel/base-sidebar.html" %}
{% load staticfiles %}


{% block head_js %}
    {{ block.super }}
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="{% static 'vendor/angular-resource/angular-resource.min.js' %}"></script>
    <script src="{% static 'vendor/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
    <script src="{% static 'angular/concierge/app.js' %}"></script>
    <script src="{% static 'angular/concierge/services.js' %}"></script>
    <script src="{% static 'angular/main/services.js' %}"></script>
    <script src="{% static 'angular/concierge/controllers.js' %}"></script>
    <script src="{% static 'angular/concierge/filters.js' %}"></script>
    <script src="{% static 'angular/config.js' %}"></script>
{% endblock head_js %}


{% block angular_app %}
    ng-app="conciergeApp"
{% endblock %}


{% block content %}
    <!-- start: PAGE CONTENT -->
    <div class="row">
        <div class="col-sm-4">
            <div class="user-left">
                <div class="row">
                    <div class="col-sm-12">
                        <a href="{% url 'concierge:guest_create' %}">
                            <div class="core-box">
                                <div class="heading">
                                    <i class="clip-user-5 circle-icon circle-green"></i>
                                    <h2>Add a Guest</h2>
                                </div>
                                <div class="content">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <a href="{% url 'concierge:guest_list' %}">
                            <div class="core-box">
                                <div class="heading">
                                    <i class="clip-users-2 circle-icon circle-teal"></i>
                                    <h2>Guest List</h2>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <a href="{% url 'main:user_detail' user.pk %}">
                            <div class="core-box">
                                <div class="heading">
                                    <i class="clip-user-3 circle-icon circle-bricky"></i>
                                    <h2>My Profile</h2>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

            <div class="col-sm-8" ng-controller="GuestMsgPreviewCtrl" ng-cloak>
                <div class="panel-body panel-scroll" style="height:300px">
                    <ul class="activities" ng-repeat="guest in guests">
                        <li>
                            <a class="activity" href="/guests/detail/[[ guest.id ]]/">
                                <img ng-src="[[ guest.thumbnail ]]" class="profile_thumbnail">
                                <span class="desc">[[ guest.name ]]</span>
                                <div class="time">
                                    <i class="fa fa-time bigger-110"></i>
                                    2 hours ago
                                    &nbsp;
                                    <span class="badge badge-new-msg">1</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

    </div>
</div>
<!-- end: PAGE -->        
{% endblock content %}
