{% extends "cpanel/base-sidebar.html" %}
{% load staticfiles %}


{% block head_js %}
    {{ block.super }}
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="{% static 'vendor/angular-resource/angular-resource.min.js' %}"></script>
    <script src="{% static 'vendor/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
    <script src="{% static 'angular/concierge/app.js' %}"></script>
    <script src="{% static 'angular/concierge/services.js' %}"></script>
    <script src="{% static 'angular/main/services.js' %}"></script>
    <script src="{% static 'angular/concierge/controllers.js' %}"></script>
    <script src="{% static 'angular/concierge/filters.js' %}"></script>
    <script src="{% static 'angular/config.js' %}"></script>
{% endblock head_js %}


{% block angular_app %}
    ng-app="conciergeApp"
{% endblock %}


{% block content %}
    <!-- start: PAGE CONTENT -->
    <div class="row">
        <div class="col-sm-4">
            <div class="user-left">
                <div class="row">
                    <div class="col-sm-12">
                        <a href="{% url 'concierge:guest_create' %}">
                            <div class="core-box">
                                <div class="heading">
                                    <i class="clip-user-5 circle-icon circle-green"></i>
                                    <h2>Add a Guest</h2>
                                </div>
                                <div class="content">
                                For adding new guests. Requires Name, phone number, room number, check-in and check-out date.
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <a href="{% url 'concierge:guest_list' %}">
                            <div class="core-box">
                                <div class="heading">
                                    <i class="clip-users-2 circle-icon circle-teal"></i>
                                    <h2>Guest List</h2>
                                </div>
                                <div class="content">
                                    All current hotel guests. Manage guest messages, and use for an overview of individual guest records.
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <a href="{% url 'main:user_detail' user.pk %}">
                            <div class="core-box">
                                <div class="heading">
                                    <i class="clip-user-3 circle-icon circle-bricky"></i>
                                    <h2>My Profile</h2>
                                </div>
                                <div class="content">
                                    View and update my information. My site settings.
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-8" ng-controller="GuestMsgPreviewCtrl" id="GuestMsgPreviewCtrl" ng-cloak>
            <div class="panel-body panel-scroll" style="height:300px">
                <ul class="activities" ng-repeat="guest in guests | orderBy:'messages[0].read':false ">
                    <li>
                        <a class="activity" href="/guests/detail/[[ guest.id ]]/">
                            <img ng-src="[[ guest.icon.icon ]]" class="profile_thumbnail">
                            <span class="desc"><strong>[[ guest.name ]]</strong></span>
                            &nbsp;
                            <span ng-if="guest.messages[0]">
                                <q>[[ guest.messages | orderBy:'-created' | lastMsg:'body' ]]</q>
                            </span>
                            <div class="time">
                                <i class="fa fa-time bigger-110"></i>
                                    <span ng-if="guest.messages[0]">
                                        [[ guest.messages | orderBy:'-created' | lastMsg:'created' | date :'medium' ]]
                                    </span>
                                &nbsp;
                                <span class="badge [[ (guest.messages | numRead) ? 'badge-new-msg' : 'badge-old-msg' ]]">[[ guest.messages | numRead ]]</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<!-- end: PAGE -->        
{% endblock content %}


{% block page_js %}
<script src="{% static 'js/ws4redis.js' %}" type="text/javascript"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
    var ws4redis = WS4Redis({
        uri: '{{ WEBSOCKET_URI }}foobar?subscribe-broadcast&publish-broadcast',
        receive_message: receiveMessage,
        heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
    });

    function receiveMessage(message) {
        // console.log('message made it to "account" page', message);
        // re-apply $scope to get the latest msg count
        angular.element('#GuestMsgPreviewCtrl').scope().getMessage(message);
        angular.element('#GuestMsgPreviewCtrl').scope().$apply();
    }
});
</script>
{% endblock page_js %}

