{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        
        <base href="/">
        <title>Textress</title>
        <meta charset="utf-8" />
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <!-- TODO: Change author/desc ?? -->
        <meta content="" name="description" />
        <meta content="" name="author" />


        {% block main_css %}
        <link rel="stylesheet" href="{% static 'clipone/admin/clip-one/assets/plugins/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'clipone/admin/clip-one/assets/plugins/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'clipone/admin/clip-one/assets/fonts/style.css' %}">
        <link rel="stylesheet" href="{% static 'clipone/admin/clip-one/assets/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'clipone/admin/clip-one/assets/css/main-responsive.css' %}">
        <link rel="stylesheet" href="{% static 'clipone/admin/clip-one/assets/plugins/iCheck/skins/all.css' %}">
        <link rel="stylesheet" href="{% static 'clipone/admin/clip-one/assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css' %}">
        <link rel="stylesheet" href="{% static 'clipone/admin/clip-one/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.css' %}">
        <link rel="stylesheet" href="{% static 'clipone/admin/clip-one/assets/css/theme_light.css' %}" type="text/css" id="skin_color">
        <link rel="stylesheet" href="{% static 'clipone/admin/clip-one/assets/css/print.css' %}" type="text/css" media="print"/>
        
        <!-- TODO: connect favicont ? -->
        <link rel="shortcut icon" href="favicon.ico" />
        {% endblock main_css %}


        {% block page_css %}
        {% endblock page_css %}

    </head>
        <body {% block body_tag %}{% endblock %}>
        
        {% block django_messages %}
            {% if messages %}
            <div class="row" style="background-color: #363839;">
                <div class="container">
                {% for message in messages %}
                    <h4 class="text-center" style="color: white;">{{ message }}</h4>
                {% endfor %}</div>
            </div>
            {% endif %}
        {% endblock django_messages %}

        {% block body %}
        {% endblock body %}

        {% block main_js %}
        <script src="{% static 'clipone/admin/clip-one/assets/plugins/jQuery-lib/2.0.3/jquery.min.js' %}"></script>
        <script src="{% static 'clipone/admin/clip-one/assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js' %}"></script>
        <script src="{% static 'clipone/admin/clip-one/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'clipone/admin/clip-one/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}"></script>
        <script src="{% static 'clipone/admin/clip-one/assets/plugins/blockUI/jquery.blockUI.js' %}"></script>
        <script src="{% static 'clipone/admin/clip-one/assets/plugins/iCheck/jquery.icheck.min.js' %}"></script>
        <script src="{% static 'clipone/admin/clip-one/assets/plugins/perfect-scrollbar/src/jquery.mousewheel.js' %}"></script>
        <script src="{% static 'clipone/admin/clip-one/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.js' %}"></script>
        <script src="{% static 'clipone/admin/clip-one/assets/plugins/less/less-1.5.0.min.js' %}"></script>
        <script src="{% static 'clipone/admin/clip-one/assets/plugins/jquery-cookie/jquery.cookie.js' %}"></script>
        <script src="{% static 'clipone/admin/clip-one/assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js' %}"></script>
        <script src="{% static 'clipone/admin/clip-one/assets/js/main.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
        {% endblock main_js %}


        {% block page_js %}
        {% endblock page_js %}

        {% block init_js %}
        <script>
            jQuery(document).ready(function() {
                Main.init();
            });
        </script>
        {% endblock init_js %}

    </body>
</html>