<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <p><strong>Thank you for contacting Textess.</strong></p>

        <p>We appreciate your interest in our business application.  We'll be in touch when it get's closer to our launch.  You will be getting extra benefits when you first sign up for the trial period, so please, stay tuned.</p>

        <br>

        <p>Thank you,</p>
        <p><em>Textress</em></p>
        <p>Las Vegas, NV</p>
        <p>ph: {{ textress_phone }}</p>
        <p>email: {{ textess_contact_email }}</p>
    </div>
</body>
</html>  