{% extends "frontend/register/base.html" %}
{% load staticfiles stripe_tags %}


{% block head_js %}
{{ block.super }}
<!-- stipe: start -->
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    Stripe.setPublishableKey('{{ publishable_key }}');

    var stripeResponseHandler = function(status, response) {
        var $form = $('#checkout-form');

        if (response.error) {
            // Show the errors on the form
            $form.find('.payment-errors').text(response.error.message);
            $form.find('.payment-errors').addClass('alert');
            $form.find('.payment-errors').addClass('alert-error');
            $form.find('button').prop('disabled', false);
        } else {
            // token contains id, last4, and card type
            var token = response.id;
            // Insert the token into the form so it gets submitted to the server
            $form.append($('<input type="hidden" name="stripe_token" />').val(token));
            // and re-submit
            $form.get(0).submit();
        }
    };

    jQuery(function($) {
        $('#checkout-form').submit(function(e) {
            var $form = $(this);

            // Disable the submit button to prevent repeated clicks
            $form.find('button').prop('disabled', true);

            Stripe.createToken($form, stripeResponseHandler);

            // Prevent the form from submitting with the default action
            return false;
        });
    });
</script>
<!-- stripe: end -->
{% endblock head_js %}


{% block content %}

    {% block form_head %}
    <div class="main-container">
        <section class="wrapper padding50">
            <div class="container">
                <form method="post" action="" id="checkout-form">
                    {% csrf_token %}
    {% endblock form_head %}

    {% block wizard %}
        {{ block.super }}
    {% endblock wizard %}

    {% block form_body %}
                    <div class="row">
                        <h2 class="StepTitle">{{ step }}</h2>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="row">
                                <div class="col-md-3">
                                    <h3 class="pull-right">My Info</h3>
                                </div>
                                <div>
                                    <a href="{% url 'main:register_step1_update' user.pk %}">
                                        <p><button type="button" class="btn btn-info btn-xs">edit</button></p>
                                    </a>
                                </div>
                            </div>
                            <ul class="list-unstyled">
                                <li><strong>Username:</strong> {{ user }}</li>
                                <li><strong>Email:</strong> {{ user.email }} </li>
                                <li>&nbsp;<span class="symbol required"></span><small> this will be the email used to email payment receipt.</small></li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="row">
                                <div class="col-md-3">
                                    <h3 class="pull-right">Hotel Info</h3>
                                </div>
                                <div>
                                    <a href="{% url 'main:register_step2_update' hotel.pk %}">
                                        <p><button type="button" class="btn btn-info btn-xs">edit</button></p>
                                    </a>
                                </div>
                            </div>
                            <ul class="list-unstyled">
                                <li><strong>Hotel name:</strong> {{ hotel.name }}</li>
                                <li><strong>Address</strong></li>
                                <li>{{ hotel.address_line1 }}</li>
                                <li>{{ hotel.address_line2 }}</li>
                                <li>{{ hotel.address_city }}, {{ hotel.address_state }} {{ hotel.address_zip }}</li>
                                <li><strong>Phone</strong></li>
                                <li>{{ hotel.address_phone|format_phone }}</li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="row">
                                <div class="col-md-3">
                                    <h3 class="pull-right">Payment Plan</h3>
                                </div>
                                <div>
                                    <a href="{% url 'register_step3_update' hotel.acct_cost.pk %}">
                                        <p><button type="button" class="btn btn-info btn-xs">edit</button></p>
                                    </a>
                                </div>
                            </div>
                            <ul class="list-unstyled">
                                <li><strong>Initial Payment:</strong> {{ acct_cost.init_amt|stripe_money }}</li>
                                <li><strong>Balance Minimum:</strong> {{ acct_cost.balance_min|stripe_money }}</li>
                                <li><strong>Recharge Amount:</strong> {{ acct_cost.recharge_amt|stripe_money }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row" style="margin-bottom:2em">
                            <span class="payment-errors alert-danger"></span>
                        </div>
                        <div class="form-group">
                          <label class="control-label" for="card">Card</label>
                          <div class="controls">
                              <input type="text" id="card" class="form-control" data-stripe="number" />
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="">Expiration (MM/YYYY)</label>
                                    <div class="row">
                                        <div class="col-xs-3" style="padding-right:0;">
                                            <input type="text" size="2" data-stripe="exp-month" class="form-control" />
                                        </div>
                                        <div class="col-xs-1">
                                            <h2 style="margin-top:0;">/</h2>
                                        </div>
                                        <div class="col-xs-4" style="padding-left:5px;">
                                            <input type="text" size="4" data-stripe="exp-year" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="cvc">CVC</label>
                                    <div class="controls">
                                        <input type="text" id="cvc" size="4" class="form-control" data-stripe="cvc" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p>By signing up, you are agreeing to the <a href="{% url 'terms_n_cond' %}">terms and conditions</a></p>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="controls">
                                        <div class="pull-right">
                                            <input type="submit" value="Submit" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                        <hr>
                        <div class="row">
                            <div class="col-md-12 tab-content">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h4>We don't store any credit card information.  All payments are managed through <a href="https://stripe.com/gallery"><strong>Stripe, Inc.</strong></a></h4>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <a href="https://stripe.com/gallery">
                                        <img src="{% static 'images/stripe-payments.png' %}" alt="powered-by-stripe">
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </section>
    </div>
    {% endblock form_body %}

{% endblock content %}


{% block footer %}{% endblock %}