{% extends "cpanel/base-sidebar.html" %}
{% load staticfiles %}


{% block head_js %}
    {{ block.super }}
    {% include "include/angular/concierge.html" %}
    <script type="text/javascript">
      // This allows you to access the current user id in your angular controllers.
      angular
          .module('conciergeApp.services')
          .factory('GuestUser', function() {
            return {
              id: "{{ object.id|default:'' }}",
            }
          })
          .factory('CurrentUser', function() {
            return {
                id: "{{ user.id|default:'' }}",
            }
          });
    </script>
{% endblock head_js %}


{% block angular_app %}
    ng-app="conciergeApp"
{% endblock %}


{% block breadcrumbs %}
    {{ block.super }}
    {% if breadcrumbs %}
        {{ breadcrumbs|safe }}
    {% endif %}
{% endblock breadcrumbs %}


{% block headline_quicklink %}
    &nbsp;
    <a href="{% url 'concierge:guest_update' object.id %}" class="btn btn-green btn-xs tooltips" data-placement="top" data-original-title="Edit">
        <i class="fa fa-edit"></i>
    </a>
{% endblock headline_quicklink %}



{% block content %}

        <div class="row">
            <div class="col-md-6">
                <div class="col-md-2">
                    <img ng-src="{{ MEDIA_URL }}{{ object.icon.icon }}" class="circle-img" alt="" style="max-width:50px;">
                    </div>
                <div class="col-md-10">
                    <h4>Main Guest page. Guest Detail with SMS</h4>
                </div>
            </div>
        </div>

        <br>
    
        <div class="row" ng-controller="GuestMessageCtrl" id="GuestMessageCtrl" ng-cloak>
            <div class="col-md-6">
                <table class="table table-hover">
                    <tr>
                        <th>Name</th>
                        <td>[[ guest.name ]]</td>
                    </tr>
                    <tr>
                        <th>Room Number</th>
                        <td>[[ guest.room_number ]]</td>
                    </tr>
                    <tr>
                        <th>Phone Number</th>
                        <td>[[ guest.phone_number|ph ]]</td>
                    </tr>
                    <tr>
                        <th>Check-in Date</th>
                        <td>[[ guest.check_in ]]</td>
                    </tr>
                    <tr>
                        <th>Check-out Date</th>
                        <td>[[ guest.check_out ]]</td>
                    </tr>
                </table>
            </div>

            <div class="col-md-6">
                <form >
                    <div class="form-group">
                        <input placeholder="Enter message here..." name="messageForm" type="text" class="form-control new-message-input" ng-model="body" id="text_message"></input>
                    </div>

                    <div>
                        <button class="btn btn-success btn-xs btn-block" type="submit" id="submit"/>
                            Send
                        </button>
                    </div>
                </form>

                <br>

                <h3>Messages</h3>

                <ol class="discussion" ng-repeat="message in messages">
                    <li class="[[ (message.user !== null) ? 'self':'other' ]]">
                        <div class="avatar">
                            <img style="max-width:40px;" ng-src="[[ (message.user !== null) ? '{{ MEDIA_URL }}{{ user.profile.icon.icon }}' : '{{ MEDIA_URL }}{{ object.icon.icon }}' ]]">
                        </div>
                        <div class="messages">
                            <h4>[[ message.body | limitTo : 100 ]]</h4> 
                        </div>
                        <div class="[[ (message.user !== null) ? 'pull-left':'pull-right' ]]">
                            <small>[[ message.created | date:'medium' ]]</small>
                        </div>
                        <div ng-if="message.received !== true" class="alert alert-danger message_error">
                            <strong>Error:</strong> Not Sent. [[ message.reason ]]
                        </div>
                    </li>
                </ol>
                
            </div>
        </div>
        <!-- end: PAGE CONTENT -->
    </div>
</div>
<!-- end: PAGE -->        
{% endblock content %}


{% block page_js %}
<script src="{% static 'js/ws4redis.js' %}" type="text/javascript"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
    var ws4redis = WS4Redis({
        uri: '{{ WEBSOCKET_URI }}foobar?subscribe-broadcast&publish-broadcast',
        receive_message: receiveMessage,
        heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
    });
    var billboard = $('#billboard');
    // send message though the Websocket to the server
    // by ``keydown`` or ``click``
    $("#text_message").keydown(function(event) {
        if (event.keyCode === 13) {
            var message = angular.element('#GuestMessageCtrl').scope().submitMessage(ws4redis, $('#text_message').val());
            angular.element('#GuestMessageCtrl').scope().$apply();
        }
    });
    $('#send_message').click(function() {
        var message = angular.element('#GuestMessageCtrl').scope().submitMessage(ws4redis, $('#text_message').val());
        angular.element('#GuestMessageCtrl').scope().$apply();
    });

    function receiveMessage(message) {
        angular.element('#GuestMessageCtrl').scope().getMessage(message);
        angular.element('#GuestMessageCtrl').scope().$apply(); 
        billboard.scrollTop(billboard.scrollTop() + 25);
    }
});
</script>
{% endblock page_js %}
