{% extends "cpanel/base-sidebar.html" %}
{% load staticfiles %}


{% block head_js %}
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="{% static 'vendor/angular-resource/angular-resource.min.js' %}"></script>
    <script src="{% static 'vendor/angular-route/angular-route.min.js' %}"></script>
    <script src="{% static 'vendor/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
    <script src="{% static 'angular/concierge/app.js' %}"></script>
    <script src="{% static 'angular/concierge/services.js' %}"></script>
    <script src="{% static 'angular/concierge/controllers.js' %}"></script>
    <script src="{% static 'angular/config.js' %}"></script>
    <script type="text/javascript">
      // This allows you to access the current user id in your angular controllers.
      angular
          .module('conciergeApp.services')
          .factory('GuestUser', function() {
            return {
              id: "{{ object.id|default:''}}",
            }
          });
    </script>
{% endblock head_js %}


{% block angular_app %}
    ng-app="conciergeApp"
{% endblock %}


{% block content %}

    {% block page_header %}
        {{ block.super }}
    {% endblock page_header %}

        <!-- start: PAGE CONTENT -->

        <div class="row">
            <div class="col-md-8">
                <h4>Main Guest page. Guest Detail with SMS</h4>
            </div>
        </div>

        <br>
    
        <div class="row" ng-controller="GuestMessageCtrl" id="guestMessageCtrl" ng-cloak>
            <div class="col-md-6">
                <table class="table table-hover">
                    <tr>
                        <th>Name</th>
                        <td>[[ guest.name ]]</td>
                    </tr>
                    <tr>
                        <th>Phone Number</th>
                        <td>[[ guest.phone_number ]]</td>
                    </tr>
                </table>
            </div>

            <div class="col-md-6">
                <form ng-submit="submitMessage(body)">
                    <div class="form-group">
                        <input placeholder="Enter message here..." name="messageForm" type="text" class="form-control new-message-input" ng-model="body" id="text_message"></input>
                    </div>

                    <div>
                        <button class="btn btn-success btn-xs btn-block" type="submit" id="send_message"/>
                            Send
                        </button>
                    </div>
                </form>

                <br>

                <h5>Will send this message:</h5><span><em>[[ body ]]</em></span>

                <br>

                <h5>Incoming Messages</h5>
                    <div class="row">
                        <div class="col-xs-12 col-md-11 col-lg-10">
                            {% block introduction %}{% endblock introduction %}
                            <pre id="billboard" style="overflow-y: auto; height: 10em; margin-top: 1em;"></pre>
                        </div>
                    </div>
                <ul id="messages"></ul>

                <h5>Outgoing Messages</h5>
                <div class="messages" id="messages-target">
                  <div class="message-container" ng-repeat="message in messages">
                    <div class="message-body"><em>[[ message.created | date:'medium' ]]</em> -- [[ message.body | limitTo : 30 ]]</div>
                  </div>
                </div>
            </div>
        </div>
        <!-- end: PAGE CONTENT -->
    </div>
</div>
<!-- end: PAGE -->        
{% endblock content %}


{% block page_js %}
<script src="{{ STATIC_URL }}js/ws4redis.js" type="text/javascript"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
    var ws4redis = WS4Redis({
        uri: '{{ WEBSOCKET_URI }}foobar?subscribe-broadcast&publish-broadcast&echo',
        receive_message: receiveMessage,
        heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
    });
    var billboard = $('#billboard');

    // send message though the Websocket to the server
    $("#text_message").keydown(function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            ws4redis.send_message($('#text_message').val());
        }
    });

    $('#send_message').click(function() {
        ws4redis.send_message($('#text_message').val());
    });

    // receive a message though the Websocket from the server
    function receiveMessage(msg) {
        billboard.append('<br/>' + msg);
        billboard.scrollTop(billboard.scrollTop() + 25);
    }

    console.log($_POST);
});
</script>
{% endblock page_js %}
