{% extends "cpanel/base-sidebar.html" %}
{% load staticfiles %}


{% block page_css %}
    {{ block.super }}
    <style type="text/css">
      .sortorder:after {
        content: '\25b2';
      }
      .sortorder.reverse:after {
        content: '\25bc';
      }
    </style>
{% endblock page_css %}


{% block head_js %}
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="{% static 'vendor/angular-resource/angular-resource.min.js' %}"></script>
    <script src="{% static 'vendor/angular-route/angular-route.min.js' %}"></script>
    <script src="{% static 'vendor/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
    <script src="{% static 'angular/concierge/app.js' %}"></script>
    <script src="{% static 'angular/concierge/services.js' %}"></script>
    <script src="{% static 'angular/concierge/controllers.js' %}"></script>
    <script src="{% static 'angular/config.js' %}"></script>
{% endblock head_js %}


{% block angular_app %}
    ng-app="conciergeApp"
{% endblock %}


{% block content %}

    {% block page_header %}
        {{ block.super }}
    {% endblock page_header %}

        <!-- start: PAGE CONTENT -->

        <div class="row">
            <div class="col-md-8">
                <h4>Search for Guests. Get Details, Edit, Remove</h4>
            </div>
        </div>

        <br>
    
        <div class="row" ng-controller="GuestListCtrl" id="guestListCtrl" ng-cloak>
            <div class="col-sm-12">
                <table class="table table-hover guests">
                    <tr>
                        <th>
                            <a href="" class="no_decoration" ng-click="order('name')">Name</a>
                            <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
                        </th>
                        <th>
                            <a href="" class="no_decoration" ng-click="order('room_number')">Room Number</a>
                            <span class="sortorder" ng-show="predicate === 'room_number'" ng-class="{reverse:reverse}"></span>
                        </th>
                        <th>
                            <a href="" class="no_decoration" ng-click="order('phone_number')">Phone Number</a>
                            <span class="sortorder" ng-show="predicate === 'phone_number'" ng-class="{reverse:reverse}"></span>
                        </th>
                        <th>
                            <a href="" class="no_decoration" ng-click="order('check_in')">Check In</a>
                            <span class="sortorder" ng-show="predicate === 'check_in'" ng-class="{reverse:reverse}"></span>
                        </th>
                        <th>
                            <a href="" class="no_decoration" ng-click="order('check_out')">Check Out</a>
                            <span class="sortorder" ng-show="predicate === 'check_out'" ng-class="{reverse:reverse}"></span>
                        </th>
                        <th>Unread Messages</th>
                        <th>&nbsp;</th>
                        <th>Details</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                    <tr ng-repeat="guest in guests | orderBy:predicate:reverse">
                        <td><a href="#">[[ guest.name ]]</a></td>
                        <td>[[ guest.room_number ]]</td>
                        <td>[[ guest.phone_number ]]</td>
                        <td>[[ guest.check_in ]]</td>
                        <td>[[ guest.check_out ]]</td>
                        <td class="text-center">0</td>
                        <td>&nbsp;</td>
                        <td>
                            <a href="#">
                                <button type="button" class="btn btn-success btn-xs">Details</button>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <button type="button" class="btn btn-warning btn-xs">Update</button>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <button type="button" class="btn btn-danger btn-xs">Delete</button>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- end: PAGE CONTENT -->
    </div>
</div>
<!-- end: PAGE -->        
{% endblock content %}