{% extends "base.html" %}
{% load staticfiles %}


{% block main %}
<div id="content">
    <article>
        <section class="section swatch-black section-text-shadow section-inner-shadow">
            <div class="background-media" style="background-image: url('/static/images/uploads/image-04-normal.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: 50% 0px;" data-start="background-position:50% 0px"
            data-70-top-bottom="background-position:50% -90px">
            </div>
            <div class="background-overlay grid-overlay-30 " style="background-color: rgba(0,0,0,0.4);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <header class="text-center element-tall-top element-short-bottom condensed">
                            <h1 class="super hairline bordered bordered-normal">Our Features</h1>
                            <p class="lead">Our goal is to improve your customers experience by freeing them from lines and waiting wherever possible, so they can enjoy their time on your property and ultimately spend more money, since they are not waiting in line.</p>
                        </header>
                        <a href="#services-list" class="scroll-to-id btn btn-link btn-lg element-no-top element-normal-bottom">Read more</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="section swatch-white" id="services-list">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <header class="text-center element-tall-top element-no-bottom condensed os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">
                            <h1 class="bigger hairline bordered bordered-normal">Our Features</h1>
                        </header>
                        <div class="row " data-os-animation="" data-os-animation-delay="">
                            <div class="col-md-3 ">
                                <div class="element-medium-top element-medium-bottom text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".0s">
                                    <div class="box box-round box-medium box-simple">
                                        <div class="box-dummy"></div>
                                        <div class="box-inner grid-overlay-0" style="background-color:#353b42;">
                                            <img class="" src="{% static 'images/icons/glass-512w.png' %}" alt="a clock" />
                                        </div>
                                    </div>
                                    <h3 class="normal bold bordered bordered-small ">Hotels</h3>
                                    <p class="">Clean room notifications. Front desk agents no longer need to call each individual guest.  A <strong>simple alert</strong> is sent out automatically when the room is clean.</p>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div class="element-medium-top element-medium-bottom text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".3s">
                                    <div class="box box-round box-medium box-simple">
                                        <div class="box-dummy"></div>
                                        <div class="box-inner grid-overlay-0" style="background-color:#353b42;">
                                            <img class="" src="{% static 'images/icons/mug-512w.png' %}" alt="a gift" />
                                        </div>
                                    </div>
                                    <h3 class="normal bold bordered bordered-small ">Restaurants</h3>
                                    <p class="">Let customers <strong>spend</strong> money on property <strong>instead</strong> of waiting in line. Send a pre-alert when their table is close to being ready, so the customer has enough time to claim their table.</p>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div class="element-medium-top element-medium-bottom text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".6s">
                                    <div class="box box-round box-medium box-simple">
                                        <div class="box-dummy"></div>
                                        <div class="box-inner grid-overlay-0" style="background-color:#353b42;">
                                            <img class="" src="{% static 'images/icons/heart-512w.png' %}" alt="a support" />
                                        </div>
                                    </div>
                                    <h3 class="normal bold bordered bordered-small ">Personal</h3>
                                    <p class="">Call customers by name or any other <strong>personal</strong> touches that your business would like to add when sending text messages.</p>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div class="element-medium-top element-medium-bottom text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".9s">
                                    <div class="box box-round box-medium box-simple">
                                        <div class="box-dummy"></div>
                                        <div class="box-inner grid-overlay-0" style="background-color:#353b42;">
                                            <img class="" src="{% static 'images/icons/wrench-512w.png' %}" alt="a clock" />
                                        </div>
                                    </div>
                                    <h3 class="normal bold bordered bordered-small ">API Integration</h3>
                                    <p class=""><strong>Integrate</strong> our text messaging solutions with existing systems. Specify how software components should work together. Share data accross applications.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row " data-os-animation="" data-os-animation-delay="">
                            <div class="col-md-3 ">
                                <div class="element-medium-top element-medium-bottom text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".0s">
                                    <div class="box box-round box-medium box-simple">
                                        <div class="box-dummy"></div>
                                        <div class="box-inner grid-overlay-0" style="background-color:#353b42;">
                                            <img class="" src="{% static 'images/icons/cogs-512w.png' %}" alt="a clock" />
                                        </div>
                                    </div>
                                    <h3 class="normal bold bordered bordered-small ">Development</h3>
                                    <p>All local U.S. based development. We guarantee a quick turnaround and truly understanding your business needs. We pride ourselves on <strong>thoughtful solutions</strong>, which begin with development.</p>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div class="element-medium-top element-medium-bottom text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".3s">
                                    <div class="box box-round box-medium box-simple">
                                        <div class="box-dummy"></div>
                                        <div class="box-inner grid-overlay-0" style="background-color:#353b42;">
                                            <img class="" src="{% static 'images/icons/graph-512w.png' %}" alt="a gift" />
                                        </div>
                                    </div>
                                    <h3 class="normal bold bordered bordered-small ">Analytics</h3>
                                    <p>If a Key Volume Indicator (KVI) touches our system, we can add <strong>data analytics</strong> around it. See KVIs accross different time periods combined with different dimensions to better understand business volumes.</p>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div class="element-medium-top element-medium-bottom text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".6s">
                                    <div class="box box-round box-medium box-simple">
                                        <div class="box-dummy"></div>
                                        <div class="box-inner grid-overlay-0" style="background-color:#353b42;">
                                            <img class="" src="{% static 'images/icons/lifebuoy-512w.png' %}" alt="a support" />
                                        </div>
                                    </div>
                                    <h3 class="normal bold bordered bordered-small ">Customer Centric</h3>
                                    <p>Only the most <strong>important</strong> messages. The goal is not to spam customers. Customers can opt out at any time.</p>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div class="element-medium-top element-medium-bottom text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".9s">
                                    <div class="box box-round box-medium box-simple">
                                        <div class="box-dummy"></div>
                                        <div class="box-inner grid-overlay-0" style="background-color:#353b42;">
                                            <img class="" src="{% static 'images/icons/indicator-512w.png' %}" alt="a clock" />
                                        </div>
                                    </div>
                                    <h3 class="normal bold bordered bordered-small ">Data Collection</h3>
                                    <p>An additional data collection point to add to your <strong>marketing</strong> efforts. Phone numbers and emails can be saved with the customers' permission, and used for marketing communications at a later date.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section swatch-black section-text-shadow section-inner-shadow">
            <div class="background-media" style="background-image: url('/static/images/uploads/image-04-normal.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: 50% 0px;" data-start="background-position:50% 0px"
            data-70-top-bottom="background-position:50% -90px">
            </div>
            <div class="background-overlay grid-overlay-30 " style="background-color: rgba(0,0,0,0.4);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12  text-center">
                        <header class="text-center  element-normal-top element-medium-bottom condensed os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0s">
                            <h1 class="bigger hairline bordered-normal">
            Like what you see here? We believe that we can offer to you a great text message solution.
        </h1>
                        </header>
                        <a href="{% url 'contact:contact' %}" class="btn btn-link btn-lg element-no-top element-normal-bottom">Let's work together</a>
                    </div>
                </div>
            </div>
        </section>
    </article>
</div>
{% endblock main %}