{% extends "base.html" %}
{% load staticfiles %}
    
{% block main %}
<div id="content">
    <article>
        <section class="section swatch-black section-text-shadow section-inner-shadow">
            <div class="background-media" style="background-image: url('static/images/uploads/home-intro.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: 50%;" data-start="background-position:50% 50%"
            data-70-top-bottom="background-position:50% 70%">
            </div>
            <div class="background-overlay grid-overlay-70 "></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <header class="element-tall-top element-normal-bottom condensed" data-start="opacity:1" data-center="opacity:1" data-100-top-bottom="opacity:0">
                            <h1 class="super hairline bordered-normal">
          we create <strong>dynamic</strong> text message web applications
        </h1>
                        </header>
                        <a href="#services-list" class="scroll-to-id btn btn-link btn-lg element-no-top element-normal-bottom">Read more</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="section swatch-white" id="services-list">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ">
                        <header class="text-center element-tall-top element-no-bottom os-animation condensed" data-os-animation="fadeIn" data-os-animation-delay="0s">
                            <h1 class="bigger hairline bordered bordered-normal">Features</h1>
                            <p class="lead">
                                We create a unique process for each client to ensure that business objectives are met, success is achieved and users are happy.
                            </p>
                        </header>
                        <div class="row " data-os-animation="" data-os-animation-delay="">
                            <div class="col-md-3 ">
                                <div class="element-medium-top element-medium-bottom text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".0s">
                                    <div class="box box-round box-normal element-medium-top element-short-bottom os-animation">
                                        <div class="box-dummy"></div>
                                        <a class="box-inner grid-overlay-10" href="page-service.html" style="background-color:#e9e9e9;">
                                            <img class="" src="{% static 'images/icons/glass-512.png' %}" alt="a clock" />
                                        </a>
                                    </div>
                                    <h3 class="normal bold bordered bordered-small ">Hotels</h3>
                                    <p class="">Clean room notifications. Front desk agents no longer need to call each individual guest.  A <strong>simple alert</strong> is sent out automatically when the room is clean.</p>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div class="element-medium-top element-medium-bottom text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".3s">
                                    <div class="box box-round box-normal">
                                        <div class="box-dummy"></div>
                                        <a class="box-inner grid-overlay-10" href="page-service.html" style="background-color:#e9e9e9;">
                                            <img class="" src="{% static 'images/icons/mug-512.png' %}" alt="a gift" />
                                        </a>
                                    </div>
                                    <h3 class="normal bold bordered bordered-small ">Restaurants</h3>
                                    <p class="">Let customers <strong>spend</strong> money on property <strong>instead</strong> of waiting in line. Send a pre-alert when their table is close to being ready, so the customer has enough time to claim their table.</p>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div class="element-medium-top element-medium-bottom text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".6s">
                                    <div class="box box-round box-normal">
                                        <div class="box-dummy"></div>
                                        <a class="box-inner grid-overlay-10" href="page-service.html" style="background-color:#e9e9e9;">
                                            <img class="" src="{% static 'images/icons/heart-512.png' %}" alt="a support" />
                                        </a>
                                    </div>
                                    <h3 class="normal bold bordered bordered-small ">Personal</h3>
                                    <p class="">Call customers by name or any other <strong>personal</strong> touches that your business would like to add when sending text messages.</p>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div class="element-medium-top element-medium-bottom text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".9s">
                                    <div class="box box-round box-normal">
                                        <div class="box-dummy"></div>
                                        <a class="box-inner grid-overlay-10" href="page-service.html" style="background-color:#e9e9e9;">
                                            <img class="" src="{% static 'images/icons/wrench-512.png' %}" alt="a clock" />
                                        </a>
                                    </div>
                                    <h3 class="normal bold bordered bordered-small ">API Integration</h3>
                                    <p class=""><strong>Integrate</strong> our text messaging solutions with existing systems. Specify how software components should work together. Share data accross applications.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section swatch-white">
            <div class="background-overlay grid-overlay-10 " style="background-color: rgba(0,0,0,0);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <header class=" element-tall-top element-no-bottom not-condensed os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.2s">
                            <h2 class="bigger hairline nbordered-normal">
            Thoughtful Solutions
        </h2>
                        </header>
                        <div class="element-short-top element-short-bottom os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.2s">

                            <p class="lead">We are a <strong>development</strong> company with strong in the <strong>hospitality industry</strong>. Our company improves businesses functionality through dynamic text messaging solutions to improve customer service, and automate routine tasks.</p>

                        </div>
                    </div>
                    <div class="col-md-6  text-center">
                        <div class="element-tall-top element-short-bottom os-animation animated fadeInRight" data-os-animation="fadeInRight" data-os-animation-delay="0s">
                            <canvas id="chart_144" height="400" width="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="reviews" class="section swatch-black section-text-shadow section-inner-shadow">
            <div class="background-media" data-start="background-position:" data-70-top-bottom="background-position:">
                <video style="width: 100%; height: 100%;" loop autoplay class="section-background-video">
                    <source type="video/mp4" src="http://theme-background-videos.s3.amazonaws.com/darkbokeh.mp4.mp4">
                        <source type="video/webm" src="http://theme-background-videos.s3.amazonaws.com/darkbokeh.webmhd.webm">
                </video>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <header class="text-center element-tall-top element-medium-bottom os-animation condensed" data-os-animation="fadeIn" data-os-animation-delay="0s">
                            <h1 class="bigger hairline bordered-normal">How can we help improve your business through dynamic text messaging?</h1>
                        </header>
                        <a href="{% url 'contact:contact' %}" class="btn btn-primary btn-lg element-short-top element-normal-bottom os-animation" target="_blank" data-os-animation="fadeInUp" data-os-animation-delay="0s">Let's work together</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="section swatch-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div id="slider-flex1" class="flexslider os-animation element-short-top element-short-bottom" data-flex-speed="7000" data-flex-itemwidth="185pxpx" data-flex-animation="slide" data-flex-controls="show" data-flex-directions="hide" data-flex-controlsalign="center"
                        data-flex-captionhorizontal="left" data-flex-controlsposition="outside" data-flex-sliderdirection="horizontal" data-flex-controlsvertical="bottom">
                            <ul class="slides">
                                <li>
                                    <figure>
                                        <img src="{% static 'images/clients/image-27-client.png' %}" alt="some alt" data-original-title="Beautiful" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="{% static 'images/clients/image-28-client.png' %}" alt="some alt" data-original-title="Intuitive" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="{% static 'images/clients/image-29-client.png' %}" alt="some alt" data-original-title="Web" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="{% static 'images/clients/image-30-client.png' %}" alt="some alt" data-original-title="Applications" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="{% static 'images/clients/image-31-client.png' %}" alt="some alt" data-original-title="That" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="{% static 'images/clients/image-32-client.png' %}" alt="some alt" data-original-title="Simply" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="{% static 'images/clients/image-33-client.png' %}" alt="some alt" data-original-title="Amaze" data-toggle="tooltip">
                                    </figure>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
</div>
{% endblock main %}


{% block js %}
    {{ block.super }}
    <script src="{% static 'js/chart.min.js' %}"></script>
{% endblock js %}