{% extends "base.html" %}
{% load staticfiles %}


{% block main %}
    <main>
    
        <section class="content">
        
            <div class="container">
            
                <h1>Oh boy! We offer the full package</h1>
                
                <p class="first-paragraph">Our end goal is to improve your customers experience by freeing them from lines and waiting wherever possible, so they can enjoy their time on your property and ultimately spend more money, since they are not waiting in line.</p>
                
                <p class="first-paragraph">By providing automated messaging for clean room alerts, labor costs go down, and customer service scores go up. Hotel guests don't feel obligated to talk on the phone. They can view a simple text message that their room is clean, and continue to enjoy their experience at your property, uninterrupted.</p>
                
                <div class="service-items">
                
                        <div class="one-third column alpha">
                            
                            <div class="service-item">
                                
                                <div class="details">
                                    <i class="fa fa-building-o"></i>
                                    <h2>Hotels</h2>
                                    <p>Clean room notifications. Front desk agents no longer need to call each individual guest.  A simple alert is sent out automatically when the room is clean.</p>
                                </div>
                                
                            </div><!-- end .service-item -->
                            
                        </div><!-- end .one-third -->
                            
                        <div class="one-third column">
                            
                            <div class="service-item">
                                
                                <div class="details">
                                    <i class="fa fa-glass"></i>
                                    <h2>Restaurants</h2>
                                    <p>Let customers spend money on property instead of waiting in line. Send a pre-alert when their table is close to being ready, so the customer has enough time to claim their table.</p>
                                </div>
                                
                            </div><!-- end .service-item -->
                            
                        </div><!-- end .one-third -->
                    
                    </div><!-- end .row -->
                    
                    <div class="row">
                    
                        <div class="one-third column omega">
                            
                            <div class="service-item">
                                
                                <div class="details">
                                    <i class="fa fa-pagelines"></i>
                                    <h2>Data Collection</h2>
                                    <p>An additional data collection point to add to your marketing efforts. Phone numbers and emails can be saved with the customers' permission, and used for marketing communications at a later date.</p>
                                </div>
                                
                            </div><!-- end .service-item -->
                            
                        </div><!-- end .one-third -->
                    
                    </div><!-- end .row -->
                    
                    <div class="row">
                        
                        <div class="one-third column alpha">
                            
                            <div class="service-item">
                                
                                <div class="details">
                                    <i class="fa fa-rocket"></i>
                                    <h2>Customer Centric</h2>
                                    <p>Only the most important messages. The goal is not to spam customers. Customers can opt out at any time.</p>
                                </div>

                            </div><!-- end .service-item -->
                            
                        </div><!-- end .one-third -->
                        
                        <div class="one-third column">
                            
                            <div class="service-item">
                                
                                <div class="details">
                                    <i class="fa fa-file-text"></i>
                                    <h2>Analytics</h2>
                                    <p>If a Key Volume Indicator (KVI) touches our system, we can add data analytics around it. See KVIs accross different time periods combined with different  dimensions to better understand business volumes.</p>
                                </div>
                                
                            </div><!-- end .service-item -->
                            
                        </div><!-- end .one-third -->
                        
                        <div class="one-third column omega">
                            
                            <div class="service-item">
                                
                                <div class="details">
                                    <i class="fa fa-check-square"></i>
                                    <h2>Personal</h2>
                                    <p>Call customers by name or any other personal touches that your business would like to add when sending text messages.</p>
                                </div>
                                
                            </div><!-- end .service-item -->
                            
                        </div><!-- end .one-third -->
                    
                    </div><!-- end .row -->
                    
                    <div class="row">



                        
                        <div class="one-third column alpha">
                            
                            <div class="service-item">
                                
                                <div class="details">
                                    <i class="fa fa-puzzle-piece"></i>
                                    <h2>API Integration</h2>
                                    <p>Integrate our text messaging solutions with existing systems. Specify how software components should work together. Share data between applications.</p>
                                </div>
                                
                            </div><!-- end .service-item -->
                            
                        </div><!-- end .one-third -->
                        
                        <div class="one-third column">
                            
                            <div class="service-item">
                                
                                <div class="details">
                                    <i class="fa fa-code-fork"></i>
                                    <h2>Development</h2>
                                    <p>All local U.S. based development. We guarantee a quick turnaround and truly understanding your business needs. We pride ourselves on thoughtful solutions, which begin with development.</p>
                                </div>
                                
                            </div><!-- end .service-item -->
                            
                        </div><!-- end .one-third -->
                        
                        <div class="one-third column omega">
                            
                            <div class="service-item">
                                
                                <div class="details">
                                    <i class="fa fa-tablet"></i>
                                    <h2>UI Design</h2>
                                    <p>Simple User focused UIs that are intuitive and increase productivity. Ability to create custom UI designs based on the needs of your business.</p>
                                </div>
                                
                            </div><!-- end .service-item -->
                            
                        </div><!-- end .one-third -->
                    
                    </div><!-- end .row -->



            
                </div><!-- end .service-items -->
                        
            </div><!-- end .container -->
        
        </section><!-- end .content -->
                    
    </main><!-- end main -->
{% endblock main %}